.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    position: relative;
    background-image: url("../assets/img/bg1.jpg");
    background-size:33cm 24cm;
}

.container > div{
    margin: 50px;
}