
/* button{
 background-color:none;
font-size: 30px;
border: none;
} */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato',sans-serif;
}


.aboutProject{
    margin:20px;
    border: none;
    width:1200px;
    height:20px;
    font-size: 14px;
}



