.wrapper{
    position: relative;
}

.diaryVideo{
    width: 100%;
    margin-top: -20px;

}

.diaryVideoWrapper{
    position:relative;
}

.rain{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    top:500px;
    color: wheat;
}

    @keyframes scroll {
        0% {
            transform: translateX(0);
                    }

        100% {
            transform: translateX(-100%);
        }
    }

    .rain span {
        display: inline-block;
        animation: scroll 65s infinite linear;
    } 
    
    .hollandFlag{
        position: absolute;
        opacity: 0;
    }

    .hollandFlagAppearAnimation{
        animation-name: hollandAnimation;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    @keyframes hollandAnimation {
            50% {
            opacity: 0.9;
            }
            100%{
                opacity:0;
            }
        }

    
        .tulip{
            position: absolute;
            opacity: 0;
        }

       
        .tulipAnimation{
            animation-name: tulipAnimation;
            animation-duration: 8s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        @keyframes tulipAnimation {
            50% {
            opacity: 0.9;
            }
            100%{
                opacity:0;
            }
        }