#myVideoDiary {
    position: relative;;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
.rain{
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    top:600px;
    color: wheat;
}



    @keyframes scroll {
        0% {
            transform: translate(0, 0);
                    }
    

        100% {
            transform: translate(-100%, 0);
        }
    }

    .rain span {
        display: inline-block;
        padding-left: 100%;
        animation: scroll 65s infinite linear;
        transition-delay: 3s;
    }

   .tomuch_content{
        position:absolute;
        padding-left: 800px;
        padding-top: 20px;
        z-index: 3;
        font-size: 150px;
        color: gold;
        justify-content:center;
        align-items:center;
        top: 50px;
        left: 700px;
        }
        
        .tomuch_content { display:inline-block; animation:float 4s ease-in-out infinite; }
        @keyframes float {
        0%,100%{ transform:none; }
        33%{ transform:translateX(200px); }
        66%{ transform:translateX(200px); }
        }

   .flag{
 position: absolute;
 z-index: 3;
 left:1500px;
 top:1150px
   }