
.title{
    width: 170px;
    height: ;
    cursor:pointer;
    border: 1px solid rgb(149, 131, 131); 
    color:rgb(145, 105, 105);
    background-color: aquamarine;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-family: "Rain Shower";
 }
 .text{
width: 100%wh;
height: 350px;
border: 1px solid gray;
background-color: bisque;
opacity: 0.7;
border-radius: 5px;
margin: 5px;
padding: 5px;
 }